<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">上海开放大学 - 质量测评系统</span>
      </div>
      <div class="desc">适应开放教育办学特色的评估体系，支持总校和分校的数据采集、数据填报、材料上传、数据分析、网上评审等</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="#" target="_blank">上海开放大学</a>
    </global-footer>
  </div>
</div>
